_site/
_site-docker/
.sass-cache/
.jekyll-cache/
.bundle/
vendor/bundle/

_README.md

.DS_Store

community-app/.env*
!community-app/.env.example
community-app/node_modules/
community-app/dist/
community-app/coverage/
