---
layout: default
---

<section class="hero hero--single">

	{% assign hero_image = page.featured_image | default: '/images/demo/blog.jpg' %}
	{% if hero_image contains '://' %}
		{% assign hero_image_url = hero_image %}
	{% else %}
		{% assign hero_image_url = hero_image | relative_url %}
	{% endif %}
	<div class="hero__image" style="background-image: url({{ hero_image_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

			<div class="single-comment">

				{% include giscus.html %}
				
			</div>

		</article>

	</div>

</section>